/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@import url("./common.css");

@import url("./header.css");

@import url("./footer.css");




/* main section start  */

/* slider  */
.carousel {
    min-height: 100vh;
}

.carousel-item {
    height: 90vh;
    background-image: url(../images/slider/slider-airplane.png);
    background-repeat: no-repeat;
    background-position: 47%, 50%;
    background-size: 35%;
}

.carousel-item>div {
    height: 100%;
}

.carousel-item h3 {
    font-weight: 700;
    font-size: 54px;
    line-height: 77.45px
}

.carousel-item h3>span {
    color: var(--primary-color);
}

.carousel-item p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 32px;
}

/* track delivery section  */
.track-delivery {
    margin-top: 40px;
    margin-bottom: 91px;
}

.track-delivery .card {
    width: 1108px;
    background-color: var(--secondary-color);
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.track-delivery .card-title {
    font-weight: 600;
    font-size: 20px;
}

.track-code {
    width: 78%;
    margin: 0 auto;
}


.track-code input[type="text"] {
    width: 80%;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px 12px;
    font-family: var(--font-inter);
    font-weight: 400;
    margin-right: 30px;
    margin-top: 5px;
}

.track-code button {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 20px;
    border-color: var(--primary-color);
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 35px;
}


/* calculate section  */

.calculate-section .row {
    margin-top: 42px;
    margin-bottom: 50px;
}

.calculate-section select {
    width: 100%;
}

.charge {
    border: 2px solid var(--primary-color);
    width: 100px;
    margin: 0 auto;
}

.charge p {
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;

}

.charge-info {
    margin-top: 50px;
}

.charge-info p {
    font-weight: 400;
}

/* hub section  */

.hub-section {
    margin-top: 74px;
}

.hub-section h3 {
    font-weight: 600;
}

.hub-section .row {
    margin-top: 26px;
}

.hub-section .col {
    border: 1px solid black;
    width: 210px;
    border-radius: 2px;
    padding: 4px;


}

.hub-section .col i {
    color: var(--primary-color);
    font-size: 0.7em;
}


/* sponsor section  */

.sponsor-section {
    margin-top: 90px;
}

.sponsor-section h3 {
    font-weight: 600;
}

.sponsor-section img {
    margin: 0 auto;
}



/* feature section  */

.feature-section h3,
.sponsor-section h3 {
    font-family: var(--font-inter);
    font-weight: 600;
    /* font-size: 35px; */
}

.features {
    margin-top: 75px;
}

.features .card {
    border: none;
}

.features .card-text {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 0.9em;
    color: #000;
    margin-top: 50px;
}







/* responsive part  */

/* mobiles */
@media only screen and (max-width: 600px) {

    .carousel {
        margin-top: 40px;
    }

    .carousel-item h3 {
        font-size: 44px;
    }

    .carousel-item p {
        font-size: 15px;
    }

    .carousel-item img {
        width: 400px;
        margin: 0 auto;
    }


    .track-code input[type="text"] {
        margin: 10px 0 15px 0;
        width: 100%;
    }

    .track-code button {
        display: block;
        margin: 0 auto;
    }

    .calculate-section {
        margin: 5px 20px;
    }

    .calculate-section .row {
        justify-content: space-around;
        margin: 40px 20px;

    }

    .calculate-section input[type="number"] {
        width: 100%;
    }

    .charge-info p {
        font-size: 12px;
    }

    .hub-section .row {
        justify-content: center;
    }

    .hub-section .row .col {
        width: 40%;
        font-size: 12px;
    }

    .hub-section .row .col {
        margin-right: 10px;
    }





}