/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


/* css variables */
:root {
    --primary-color: #FFCC00;
    --secondary-color: #F5F5F5;
    --menu-hover-color: #EDD98B;
    --font-inter: 'Inter', sans-serif;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--font-inter);
}

/* navbar style start */

.navbar {
    height: 82px;
    width: 100%;
    background-color: var(--primary-color);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
}

.active {
    background-color: var(--menu-hover-color);
    border-radius: 5px;
}

.btn-signup,
.btn-login {
    /* padding: 5px 25px; */
    width: 122px;
    height: 39px;
}

.btn-signup {
    background-color: var(--primary-color);
}

.btn-login {
    background-color: var(--secondary-color);
}


/* main section start  */

/* track delivery section  */
.track-delivery {
    margin-top: 40px;
    margin-bottom: 91px;
}

.track-delivery .card {
    width: 1108px;
    background-color: var(--secondary-color);
    box-shadow: 0px 8px 15px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}

.track-delivery .card-title {
    font-weight: 600;
    font-size: 20px;
}

.track-code {
    width: 78%;
    margin: 0 auto;
}


.track-code input[type="text"] {
    width: 80%;
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px 12px;
    font-family: var(--font-inter);
    font-weight: 400;
    margin-right: 30px;
    margin-top: 5px;
}

.track-code button {
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 5px 20px;
    border-color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 35px;
}

/* calculate section  */

.calculate-section .row {
    margin-top: 42px;
    margin-bottom: 50px;
}

.calculate-section select {
    width: 100%;
}

.charge {
    border: 2px solid var(--primary-color);
    width: 100px;
    margin: 0 auto;
}

.charge p {
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;

}

.charge-info {
    margin-top: 50px;
}

.charge-info p {
    font-weight: 400;
}

/* hub section  */

.hub-section {
    margin-top: 74px;
}

.hub-section h3 {
    font-weight: 600;
}

.hub-section .row {
    margin-top: 26px;
}

.hub-section .col {
    border: 1px solid black;
    width: 210px;
    border-radius: 2px;
    padding: 4px;


}

.hub-section .col i {
    color: var(--primary-color);
    font-size: 0.7em;
}


/* sponsor section  */

.sponsor-section {
    margin-top: 90px;
}

.sponsor-section img {
    margin: 0 auto;
}



/* feature section  */

.feature-section h3,
.sponsor-section h3 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 35px;
}

.features {
    margin-top: 75px;
}

.features .card {
    border: none;
}

.features .card-text {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 0.9em;
    color: #000;
    margin-top: 50px;
}



/* footer style start  */

footer {
    height: 254px;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 0 70px;
    font-family: var(--font-inter);
    font-weight: 400;


}

footer .row {
    flex-wrap: nowrap;
}


footer h3 {
    font-weight: 600;
    font-size: 20px;
}

footer p {
    font-size: 16px;

}

footer .download {
    position: relative;
}

footer .download img {
    position: absolute;
    top: -2px;
    left: 5px;

}

footer .social-icon {
    background-color: var(--primary-color);
    color: #000;
    border-radius: 50%;
    display: inline-block;
    width: 25px;
    height: 25px;

}

footer span:not(:last-child) {
    margin-right: 20px;
}

footer .contact i {
    color: var(--primary-color);
    width: 13px;
    height: 17px;
}

footer .contact p {
    font-size: 13px;
}

/* footer style end  */